ion-content{
  background-image: url('https://cdn.jsdelivr.net/gh/12JGrp10/penguin-island@master/orange.jpg');
}
h2{
  color: black;
  text-align: center;
  font-style: bold;
  font-size: medium;
}
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h6{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: large;
}
h1{
  text-align: center;
  color: white;
  font-style: bold;
  background: rgb(138, 0, 0);
}
h5{
  text-align: center;
  background: rgba(199, 10, 10, 0.801);
  color: white;
  font-size: large;
  font-family: gill sans;
  margin-left: 10%;
  margin-right: 10%;
  border-style: ridge;
  border-width: 3px; 
}
button
{
background-color: rgb(138, 0, 0);
border-radius: 10px;
box-shadow: 0 5px rgb(90, 0, 0);
margin-left: 10%;
margin-right: 10%;
width: 80%;
height: 30px;
}
ion-item{
  background: orange;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
ion-title{
  text-align: center;
}
hr{  
width: 120%;  
height: 1px;  
background-color: white;  
margin-bottom: 7px;  
margin-right: 70%;  
margin-left: auto;  
margin-top: 9px;  
border-width: 0.05px;  
border-color: white;  
}