ion-content{
  background-image: url('https://cdn.jsdelivr.net/gh/12JGrp10/penguin-island@master/orange.jpg');
}
h2{
  color:#ff9068;
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1{
  text-align: center;
  color: white;
  font-style: italic;
  background: rgb(138, 0, 0);
  font-size: xx-large;
  margin-left: 20%;
  margin-right: 20%;
  border-style: ridge;
  border-width: 5 pix;
  border-color:  rgb(138, 0, 0);

}
h5{
  text-align: center;
  background: rgba(199, 10, 10, 0.801);
  color: white;
  font-style: bold;
}
p{
  font-family: gill sans;
  text-align: center;
  color: white;
  background: rgba(199, 10, 10, 0.801);
  font-size: large;
  border-color: white;
  border-style: ridge;
  margin-left: 20%;
  margin-right: 20%;
}
h4{
  text-align: center;
  background: rgb(138, 0, 0);
  color: white;
}
 ion-chip{
  background: rgb(138, 0, 0);
  margin-left: 41%;
  margin-right: 50%;
}
ion-label{
  color: white;
  text-align: center;
}
ion-title {
  text-align: center;
}
